In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame()
data["user"] = [1, 2, 2]
data["lojas"] = [4, 7 ,8]

In [6]:
data

   user  lojas
0     1      4
1     2      7
2     2      8

In [7]:
data.groupby(data["user"]).sum()

      lojas
user
1         4
2        15

In [4]:
data.set_index(data["user"])

      user  lojas
user
1        1      4
2        2      7
2        2      8

In [5]:
data.resample().sum()

TypeError: resample() takes at least 2 arguments (1 given)

In [8]:
coocc = data.T.dot(data)

In [10]:
coocc

       user  lojas
user      9     34
lojas    34    129

In [17]:
import numpy as np
def set_diag(self, values): 
    n = min(len(self.index), len(self.columns))
    self.values[[np.arange(n)] * 2] = values
#pd.DataFrame.set_diag = set_diag

In [18]:
print(coocc.set_diag(0))

None

In [19]:
coocc

       user  lojas
user      0     34
lojas    34      0

In [25]:
if "oia" in ["oi", "amigo"]:
    print("oi")

In [26]:
m = [["loja1", "loja2", "loja3"], [1, 0, 9]]

In [27]:
m

[['loja1', 'loja2', 'loja3'], [1, 0, 9]]